<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/stylesheets.foundation")
    @Styles.Render("~/Content/stylesheets.foundation/app.css")
    @Styles.Render("~/Content/stylesheets.foundation/foundation.min.css")
    @Styles.Render("~/Content/stylesheets.foundation/general_foundation.css")
    @Styles.Render("~/Content/stylesheets.foundation/style.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/scripts/foundation.javascripts/modernizr.foundation.js")

</head>
<body>
<!-- Nav Bar -->

    <div class="row">
        <div class="twelve columns">
            <img src="../images/title2.png" />
            <nav class="menu twelve columns">
                <div class="one columns">
                    <a href="#" class="home prefix">
                        <div class="name"></div>

                    </a>
                </div>
                <div class="ten columns center">
                    @RenderSection("menu", required: false)
                </div>
                <div class="postfix one column right-end"></div>
            </nav>
            <hr />
        </div>
    </div>
  <!-- End Nav -->

    
  <!-- Main Page Content and Sidebar -->

  <div class="row">

    <!-- Main Blog Content -->
    <div style="float:right" class="nine columns" role="content">
    @RenderBody()     
    </div>

    <!-- End Main Content -->


    <!-- Sidebar -->

    <aside style="float:left" class="three columns">
                    @RenderSection("sidebar", required: true)

    </aside>

    <!-- End Sidebar -->
  </div>

  <!-- End Main Content and Sidebar -->


  <!-- Footer -->

  <footer class="row">
    <div class="twelve columns">
      <hr />
      <div class="row">
        <div class="six columns">
          <p>&copy; Copyright no one at all. Go to town.</p>
        </div>
        <div class="six columns">
           @RenderSection("footermenu", required: false)
        </div>
      </div>
    </div>
  </footer>

  <!-- End Footer -->
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
